/*-------------------------------------------- PANTALLA DE INICIO------------------------------------------------------------*/

.body-index{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #e76f51 0%, #fff 100%);
    flex-direction: column;
}

.btn-inicio{
    position: relative;
    display: inline-block;
    padding: 25px 46px;
    margin: 20px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    overflow: hidden;
    /*background-image: linear-gradient(60deg, #c2e59c 0%, #64b3f4 100%);*/
    background-color: #CD8E94;
    font-family: 'Roboto Flex', sans-serif;
}

.btn-inicio:nth-child(2)
{
   /*background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);*/
    background-color: #e9c46a;
}

.btn-inicio:hover{
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0 #fe5196, -10px 10px 25px #f77062;
    cursor: pointer;
    transition: 1s;
    background-color: #D8A8AD;
}

.bienvenido-letra{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.sesion-letra{
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
}


/*-------------------------------------------- PANTALLA DE REGISTRO------------------------------------------------------------*/









